
services:

  database:
    container_name: database
    image: registry.sedrehgroup.ir/postgis:latest
    ports:
     - "5432:5432"
    env_file:
     - .env
    restart: unless-stopped
    volumes:
      - ./init-multiple-databases.sh:/docker-entrypoint-initdb.d/init-multiple-databases.sh
    networks:
      - main

  redis:
    container_name: redis_cache
    image: registry.sedrehgroup.ir/redis:latest
    env_file:
     - .env
    ports:
     - "6379:6379"
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    restart: unless-stopped
    networks:
      - main
  

  pgadmin:
    container_name: pgadmin
    ports:
     - "5050:80"
    image: registry.sedrehgroup.ir/pgadmin4
    env_file:
      - .env
    networks:
      - main
  
networks:
  main:
    driver: bridge




